@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

$lred: hsl(356, 100%, 66%); // Light red (CTA text)
$vlred: hsl(355, 100%, 74%); // Very light red (CTA hover background)
$heading: hsl(208, 49%, 24%); // Very dark blue (headings)


$blue1: hsl(240, 2%, 79%); // Grayish blue (footer text)
$blue2: hsl(207, 13%, 34%); // Very dark grayish blue (body copy)
$blue3: hsl(240, 10%, 16%); // Very dark black blue (footer background)

$grad-red: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$grad-blue: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));


// font-family: 'Overpass', sans-serif;
// font-family: 'Ubuntu', sans-serif;

*, ul, li *::before, *::after, footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

p {
    line-height: 1.8rem;
}
//  ##################################################
div, section, header, footer {
    // border: 1px dashed white;
}
//  ##################################################

body {
    background-color: #fff;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    text-align: center;

    overflow-x: hidden;
}

.header {
    background-image:   url('./images/bg-pattern-intro.svg'),
                        $grad-red; 
                        
    background-repeat: no-repeat, no-repeat;
    background-size: 300vw 300vw, cover;
    background-position: top 50% left 30%, center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    border-radius: 0 0 0 5rem;
    color: white;



    &__nav {
        display: none;
        position: absolute;
        top: 5rem;
        left: 10vw;
        width: 80vw;
        margin: auto;
        padding: 2rem;
        background: white;
        border-radius: 1rem;

        box-shadow: 5px 5px 1rem .1rem rgba(0,0,0, 0.2);
        a {
            color: $blue2;
            text-decoration: none;
            font-weight: 600;
        }
        a:hover {
            color: $blue3;
        }
        img {
            margin: 3px 3px 3px 5px;
            transform: rotate(0deg);
        }
        &__main {
            a {
                font-size: 1.2rem;
            }
            li {
                padding: 1rem;
            }
        }
        &__main__sub {
            display: none;
            background: #eee;
            border-radius: .5rem;
            a {
                font-size: 1rem;
            }
            a::after {
                content: '';
            }
        }
        .divider {
            margin: 1rem 0 1rem 0;
            color: $blue1;
            border-top: 1px solid $blue1;
            width: 90%px;
            height: 0px;
        }
        .menu__buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            button {
                margin: .5rem;
                padding: 1rem;
            }

            #btn-login {
                width: 80%;
                color: $blue3;
                background: white;
            }
            #btn-login:active, #btn-login:hover {
                color: white;
                background-color: $vlred;
            }
        
            #btn-signup {
                width: 80%;
                color: white;
                background: $grad-red;
            }
            #btn-signup:active, #btn-signup:hover {
                color: $lred;
                background: white;
            }
        }

        

    }


    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #img-logo {
            margin: 2rem;
            height: 40px;
            width: auto;
        }
        #burger {
            margin: 2rem;
            padding: .2rem;

            height: 40px;
            width: 40px;
            border: none;
            background: transparent;
            cursor: pointer;
        }
        
    }

    &__hero {
        h1 {
            
            font-size: 2.5rem;
            padding: 3rem 1rem 2rem 1rem; 
            margin: .5rem;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.5rem;
            margin: 2.5rem 1rem 4rem 1rem;
        }
    }

    button {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        border: 1px solid white;
        border-radius: 3rem;

        margin: 1rem .5rem 1rem .5rem;

        cursor: pointer;
    }
    #btn-start {
        color: $lred;
        background: white;
        width: 150px;
    }
    #btn-start:active, #btn-start:hover {
        color: white;
        background-color: $vlred;
    }

    #btn-learn {
        color: white;
        background: transparent;
        width: 150px;
    }
    #btn-learn:active, #btn-learn:hover {
        color: $lred;
        background: white;
    }
}

.s1, .s3 {
    color: $blue2;
    padding: 2.5rem;

    h2 {
        color: $heading;
        margin: 1.5rem;
    }

    &__illustration1, &__illustration3 {
        width: 90vw;
        height: min(80vw, 500px);
    }
    &__illustration1 {
        width: 90vw;
        height: min(80vw, 500px);
        background: url('./images/illustration-editor-mobile.svg') center no-repeat;
    }
    &__illustration3 {
        background: url('./images/illustration-laptop-mobile.svg') center no-repeat;
    }
}

.s2 {
    margin-top: 10rem;

    background: url('./images/bg-pattern-circles.svg'),
                $grad-blue;
    background-repeat: no-repeat;
    background-size: 120vw 120vw, contain;
    background-position: top -50vw center, center;

    border-radius: 0 6rem;
    padding: 2.5rem;
    &__illustration {
        margin-top: max(-50vw, -200px);
        width: min(70vw, 450px);
    }

    h2 {
        color: white;
        font-size: 2.2rem;
        margin: 1.5rem;
    }
    p {
        color: white;
        margin-bottom: 8rem;
    }
}

.footer {
    background: $blue3;
    border-radius: 0 6rem 0 0 ;
    max-width: 100vw;
    margin: 0;
    padding-bottom: 2rem;
    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    li {
        padding: .5rem;
    }
    img {
        width: 80px;
        height: auto;
        margin: 3rem 0 3rem 0;
    }

    ul {
        margin: 1rem;
    }
}